.team-info-container {
    background-image: linear-gradient(180deg, lightblue, greenyellow);
}
.banner-img {
    width: 100%;
}
.team-badge-img {
    width: 45%;
    margin: auto;
}
.icons {
    cursor: pointer;
    margin: 0 10px 14px 10px;
    padding: 0 7px;
}
.description-para {
    padding: 10px;
    text-align: justify;
}