.not-found-container {
    width: 30%;
    background-color: darkorange;
    border-radius: 7px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}